{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 80,
  "useTabs": true,
  "parser": "typescript",
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "bracketSpacing": false
}
